
<h3 style="text-align: center">Choose your Foodsoft edition:</h3>

<ul class="button-select-wrapper">

  <li><a href="foodcoop-standard.html">
      <b class="title">Foodsoft@NL</b>
      <span class="desc">standard NL version<br>Foodsoft fork used in NL</span>
    </a></li>

  <li><a href="foodcoop-classic.html">
      <b class="title">Foodsoft Classic</b>
      <span class="desc">original (upstream) version of Foodsoft</span>
    </a></li>

  <li style="opacity: 0.6"><a href="foodcoop-multishared.html">
      <b class="title">Multiple groups</b>
      <span class="desc">large foodcoop with multiple pickup-points</span>
    </a></li>

</ul>
