
<h3 style="text-align: center">Choose your Foodsoft edition:</h3>

<ul class="button-select-wrapper">

  <li><a href="foodcoop-standard.html">
      <b class="title">Standard</b>
      <span class="desc">standard FoodCoopNL Foodsoft</span>
    </a></li>

  <li><a href="foodcoop-multishared.html">
      <b class="title">Multiple groups</b>
      <span class="desc">large foodcoop with multiple pickup-points</span>
    </a></li>

  <li><a href="foodcoop-classic.html">
      <b class="title">Classic</b>
      <span class="desc">original (upstream) version of Foodsoft</span>
    </a></li>

</ul>
